.search {
  text-align: center;
  margin-bottom: 15px;
}

.searchTerm, .searchButton { 
  padding: 0.7em;
}

.searchTerm {
  width: 400px;
}

.recipies{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#searchBy {
  text-align: center;
}
  
  