.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0.6em;
  align-content: center;
  background: #fff;
}

.nav > ul {
  display: flex;
  list-style-type: none;
}
