.nav {
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
  padding: 0.6em;
  align-content: center;
  background: #fff;
}

.nav:nth-child(1) {
  font-size: 1em;
  margin: 0.6em;
  text-decoration: none;
}

.nav > ul {
  display: flex;
  list-style-type: none;
}
