.home {
    background-image: url("background.jpg");
    background-color: #cccccc;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 4.2em;
    padding-bottom: 15em;
    /* padding-bottom: 15em; */
}

.cover-heading {
    text-align: center;
}

.home > h1, .home > p {
    text-align: center;
    padding-top: 1.5em;
}




